/* Import JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

/* Apply JetBrains Mono font globally */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
}

/* Centered Navbar */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1em;
    background-color: #111;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
}

nav ul li a.active {
    background-color: #444;
    color: #fff;
}

/* Landing page and other content */
.landing {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.bio h1 {
    font-size: 3em;
}

.bio p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.photo img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid white;
}

.content {
    padding: 50px;
    text-align: left;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}

/* Project Grid and Cards */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.clickable-thumbnail {
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.clickable-thumbnail:hover {
    transform: scale(1.05);
}
